p {margin: 20px auto 20px; max-width: 600px;}
.cover {float: left; margin: 3px 15px 15px 0;}
#covers {text-align: center; clear: right;}
#covers img {margin: 2px;}

@media screen and (max-width: 440px)
{
	.wideonly {display: none;}
}