p {font-size: larger; margin: 40px auto 20px; max-width: 490px;}
table {padding: 20px 10px 10px; margin: 0 auto;}
td {padding: 3px 5px;}
.medium {text-align: right; vertical-align: top;}
.address {font-weight: bold;}

@media (min-width: 800px)
{
	#left {float: left;}
}