body {font-family: Helvetica, sans-serif; padding: 30px 60px; margin: 20px auto; line-height: 1.3; background-color: white;}
h1 {font-size: 16pt; margin: 0 0 20px; color: rgb(97, 41, 144);}
h2, h3 {margin: 20pt 0 3pt; color: rgb(80, 33, 118);}
h2 {font-size: 14pt;}
h3 {font-size: 12pt;}
h4, h5 {font-size: 12pt; margin: 3pt 0;}
ul {padding-left: 1em; margin: 4pt 0; list-style: none;}
td, li {padding: 0 0 6pt;}
a {text-decoration: none;}
p {margin: 8pt 0;}

.newmodule {padding-top: 12pt;}
.box {margin: .5em 1em; padding: .5em; border: 1px solid black;}
.metadata {margin: 12px 0;}
.citation {margin: 12px 0 12px 2em;}
.reference {font-size: 8pt;}
.video {aspect-ratio: 16 / 9; width: 100%;}
.previous, .next {width: 50%; margin-top: -5px; font-weight: bold;}
.previous {float: left;}
.next {float: right; text-align: right;}
.feed, .more {clear: both; text-align: center;}
.blogpost {padding-bottom: 9pt; margin-left: 1em;}
.icon {display: inline; float: left; position: relative; width: 2em; margin-left: -2.5em; text-align: right;}
.translation {color: rgb(110, 110, 110);}
[role=doc-endnote] {padding: 0;}

@media screen and (max-width: 400px)
{
	.citation {clear: right;}
}