h1 {font-size: 16pt; margin: 0 0 30px;}
h2 {font-size: 14pt; margin: 12pt 0 3pt;}
h3 {font-size: 12pt; margin: 9pt 0 3pt;}
h4, h5 {font-size: 12pt; margin: 3pt 0;}
ul {padding-left: 1em; margin: 4pt 0; list-style: none;}
td, li {padding: 0 0 6pt;}
a {text-decoration: none;}
p {margin: 8pt 0;}
img {width: auto;}
iframe {max-width: 100%;}

.bulleted {list-style: disc; padding-left: 2em;}
.newmodule {padding-top: 12pt;}
.box {margin: .5em 1em; padding: .5em; border: 1px solid black;}
.metadata {margin: 6px 0 12px; text-indent: 2.5em hanging;}
.reference {font-size: 8pt;}
.video {aspect-ratio: 16 / 9; width: 100%;}
.previous, .next {width: 50%; margin-top: -5px; font-weight: bold;}
.previous {float: left;}
.next {float: right; text-align: right;}
.blogpost {padding-bottom: 9pt;}