html {background-color: rgb(45, 48, 64);}
body {font-family: Helvetica, sans-serif; max-width: 800px; padding: 20px 30px 30px; margin: 20px auto; line-height: 1.3; background-color: white;}
h1 {color: rgb(97, 41, 144);}

a:link {color: darkblue; text-decoration: underline;}
a:visited {color: rgb(80, 80, 80);}
a:hover {color: maroon;}

nav {clear: right; float: right; text-transform: lowercase; text-align: right; min-width: 4.1em; margin: 40px 0 10px 20px; padding: 0 2px 5px 10px; border-width: 0 0 1px 1px; border-style: solid;}
nav a:link {text-decoration: none;}
nav a:visited {color: darkblue;}
nav a:hover {color: maroon;}
.tab {display: block;}
.selected {font-weight: bold;}