html {background-color: black;}
body {font-family: Helvetica, sans-serif; max-width: 800px; padding: 20px 30px 30px; margin: 20px auto; line-height: 1.3; background-color: white;}
h1 {color: maroon;}

a:link, a:visited {color: mediumblue;}
a:visited {color: purple;}
a:hover {color: maroon; text-decoration: underline;}

nav {clear: right; float: right; text-transform: lowercase; text-align: right; margin: 40px 0 10px 20px; padding: 0 2px 5px 10px; border-width: 0 0 1px 1px; border-style: solid;}
.tab {display: block;}