<li>
	<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
	<div class="metadata">
		{{ post.date | date: "%Y" }}{% if post.medium %}, {{ post.medium }}{% endif %}{% if post.collaborators %}, with {{ post.collaborators }}{% endif %}{% if post.publication %}, <cite>{{ post.publication }}</cite>{% if post.publisher %} ({{ post.publisher }}){% endif %}{% elsif post.venue %}, {{ post.venue }}{% endif %}
	</div>
	<div>{{ post.excerpt }}</div>
	<div class="metadata">
		<a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">more</a>
	</div>
</li>