<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
	<script data-goatcounter="https://collopy.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	
	<link rel="stylesheet" href="https://collopy.net/css/main.css">
	<link rel="stylesheet" media="screen" href="https://collopy.net/css/screen.css">
	<link rel="stylesheet" media="print" href="https://collopy.net/css/print.css">
	{% if page.url == "/" %}
	  <link rel="stylesheet" href="https://collopy.net/css/home.css">
	{% elsif page.url == "/writing/2012/bibliography/" %}
	  <link rel="stylesheet" href="https://collopy.net/css/bibliography.css">
	{% elsif page.url == "/cv/" %}
	  <link rel="stylesheet" href="https://collopy.net/css/cv.css">
	{% endif %}
	
	{% feed_meta %}
	{% seo %}