<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
	<script data-goatcounter="https://collopy.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	
	<link rel="stylesheet" href="{{ 'css/main.css' | absolute_url }}">
	<link rel="stylesheet" media="screen" href="{{ 'css/screen.css' | absolute_url }}">
	<link rel="stylesheet" media="print" href="{{ 'css/print.css' | absolute_url }}">
	{% if page.url == "/" %}
	  <link rel="stylesheet" href="{{ 'css/home.css' | absolute_url }}">
	{% elsif page.url == "/writing/2012/bibliography/" %}
	  <link rel="stylesheet" href="{{ 'css/bibliography.css' | absolute_url }}">
	{% elsif page.url == "/cv/" %}
	  <link rel="stylesheet" href="{{ 'css/cv.css' | absolute_url }}">
	{% elsif page.url == "/shortcv/" %}
		<link rel="stylesheet" href="{{ 'css/cv.css' | absolute_url }}">
	{% endif %}
	
	{% feed_meta %}
	{% seo %}