{% capture year %}{{ page.date | date: "%Y" }}{% endcapture %}
{% assign year = year | plus: 0 %}

{% include head.html %}
	<title>{{ site.title }}: {{ year }}</title>
  </head>
  <body>
	<h1>{{ site.title }}: {{ year }}</h1>
	{% include nav.html %}
	<ul class="posts">
	{% for post in page.posts %}
	 	{% include blogpost.html %}
	{% endfor %}
	</ul>
	{% if year > 2005 %}
	<div class="previous">
		<a href="/{{ year | minus: 1 }}">earlier</a>
	</div>
	{% elsif year == 2005 %}
	<div class="previous">
		<a href="/1999">earlier</a>
	</div>
	{% endif %}
	{% if year > 2004 and year < 2024 %}
	<div class="next">
		<a href="/{{ year | plus: 1 }}">later</a>
	</div>
	{% elsif year == 1999 %}
	<div class="next">
		<a href="/2005">later</a>
	</div>
	{% endif %}
  </body>
</html>