{% capture year %}{{ page.date | date: "%Y" }}{% endcapture %}

{% include head.html %}
	<title>{{ site.title }}: {{ year }}</title>
  </head>
  <body>
	<h1>{{ site.title }}: {{ year }}</h1>
	{% include nav.html %}
	<ul class="posts">
	{% for post in page.posts %}
	 	{% include blogpost.html %}
	{% endfor %}
	</ul>
	<div class="previous">
		<a href="/{{ page.date | date: "%Y" | minus: 1 }}">earlier</a>
	</div>
	<div class="next">
		<a href="/{{ page.date | date: "%Y" | plus: 1 }}">later</a>
	</div>
  </body>
</html>