{% capture year %}{{ page.date | date: "%Y" }}{% endcapture %}
{% assign year = year | plus: 0 %}

{% include head.html %}
	<title>{{ site.title }}: {{ year }}</title>
  </head>
  <body>
	<h1>{{ site.title }}: {{ year }}</h1>
	{% include nav.html %}
	
	{% assign major_counter = 0 %}
	{% for post in page.posts %}
	  {% if post.major != yes %}
		{% if major_counter == 0 %}
		  {% assign major_counter = 1 %}
		  <h3>Major Works</h3>
		  <ul class="posts">
		{% endif %}
		{% include blogpost.html %}
	  {% endif %}
	{% endfor %}
	{% if major_counter == 1 %}
	  </ul>
	{% endif %}
	
	{% assign minor_counter = 0 %}
	{% for post in page.posts %}
	  {% if post.major == yes %}
		{% if minor_counter == 0 %}
		  {% assign minor_counter = 1 %}
		  {% if major_counter == 1 %}
			<h3>Smaller Projects</h3>
		  {% endif %}
		  <ul class="posts">
		{% endif %}
		{% include blogpost.html %}
	  {% endif %}
	{% endfor %}
	{% if minor_counter == 1 %}
	  </ul>
	{% endif %}
	
	{% if year > 2005 %}
	<div class="previous">
		<a href="/{{ year | minus: 1 }}">earlier</a>
	</div>
	{% elsif year == 2005 %}
	<div class="previous">
		<a href="/1999">earlier</a>
	</div>
	{% endif %}
	{% if year > 2004 and year < 2025 %}
	<div class="next">
		<a href="/{{ year | plus: 1 }}">later</a>
	</div>
	{% elsif year == 1999 %}
	<div class="next">
		<a href="/2005">later</a>
	</div>
	{% endif %}
  </body>
</html>