{% include head.html %}
	<link type="application/atom+xml" rel="alternate" href="https://collopy.net/feed/{{ page.autopages.display_name | slugify: 'pretty' }}.xml" title="{{ site.title }}: {{ page.autopages.display_name }}" />
	<title>{% include category_title.html %}</title>
  </head>
  <body>
	<h1>{% include category_title.html %}</h1>
	{% include nav.html %}
	{% include paginator.html %}
	{% if page.autopages.display_name == "works" %}<div class="more"><a href="/subjects/">more by subject</a></div>{% endif %}
	<div class="feed"><a href="https://collopy.net/feed/{{ page.autopages.display_name | slugify: 'pretty' }}.xml">feed</a></div>
  </body>
</html>