{% include head.html %}
    
    {% capture categories %}
      {% for category in site.categories %}
        {{ category[0] }}
      {% endfor %}
    {% endcapture %}
    {% assign sortedcategories = categories | split:' ' | sort_natural %}
    {% for category in sortedcategories %}
      <link type="application/atom+xml" rel="alternate" href="https://collopy.net/feed/{{ category | slugify: 'pretty' }}.xml" title="Peter Sachs Collopy: {{ category | capitalize }}" />
    {% endfor %}
    
    {% capture tags %}
      {% for tag in site.tags %}
        {{ tag[0] }}
      {% endfor %}
    {% endcapture %}
    {% assign sortedtags = tags | split:' ' | sort_natural %}
    {% for tag in sortedtags %}
      <link type="application/atom+xml" rel="alternate" href="https://collopy.net/feed/tag/{{ tag | slugify: 'pretty' }}.xml" title="Peter Sachs Collopy: {{ tag }}" />
    {% endfor %}
    
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include nav.html %}
    <h1>{{ page.title }}</h1>
    {{ content }}
  </body>
</html>